#image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#image-container img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

header {
  background-color: #D2691E;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  text-shadow: 2px 2px #000;
}
